@media screen and (max-width: 500px){
    body{
        position: absolute;
        top: 690px;
        background-color: #333333;
    }

    section#pizza-wrap .box .box-content > div {
        margin-bottom: 20px;
        /* line-height: 1.1rem; */
        
        
      }
    


}
