/* font-family: 'Baloo Bhaina 2', cursive; */
:root {
  --primary-color: #333333;
  --secondary-color: orange;
  --button: rgb(102, 80, 7);
  --button-hover: rgb(212, 174, 46);
  --overlay-color: rgba(27, 27, 23, 0.75);
  --menu-speed: 1s;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhaina 2", cursive;
  line-height: 1.4rem;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 1rem 2rem;
  text-align: center;
  overflow: hidden;
}
.btn {
  display: inline-block;
  border: none;
  border-radius: 5px;
  background: var(--button);
  color: #ffffff;
  font-size: 1.1rem;
  padding: 0.75rem 1.5rem;
  margin: 2rem 0;
  transition: var(--menu-speed);
}
.btn:hover {
  background: var(--button-hover);
  transform: scale(1.1);
}

/* Menu-wrap */
#menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#menu-wrap .chbx {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  z-index: 1;
}

#menu-wrap .hamburger > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transition: all 0.5s ease-in;
}

#menu-wrap .hamburger > div::before,
#menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  top: -12px;
  width: 100%;
  height: 2px;
  background: #ffffff;
}

#menu-wrap .hamburger > div::after {
  top: 12px;
}

/* Rotation of hamburger icon */
#menu-wrap .chbx:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Rotates lines in hamburger */

#menu-wrap .chbx:checked + .hamburger > div::before,
#menu-wrap .chbx:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotates on hover */
#menu-wrap .chbx:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
/* Menu in hamburgers */
#menu-wrap .menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#menu-wrap .chbx:checked ~ .menu {
  visibility: visible;
}

#menu-wrap .chbx:checked ~ .menu > div {
  transform: scale(1);
}

#menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 100%;
  border-radius: 50%;
  width: 300vh;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  /* transition: all var(--menu-speed) ease; */
  transition: all 0.2s ease;
}

#menu-wrap .menu > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu-wrap .menu > div > div > ul > li {
  font-size: 2rem;
  color: #ffffff;
  list-style: none;
  padding: 1.3rem;
}

#menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  transition: all 1.5s ease;
}

#menu-wrap .menu > div > div > ul > li > a:hover {
  color: var(--secondary-color);
}

/* SHOWCASE */
#showcase {
  position: relative;
  background: var(--overlay-color);
  height: 100vh;
  color: #ffffff;
}
#showcase:before {
  content: "";
  background: url("../images/menu-restaurant-vintage-table.jpg") no-repeat
    center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#showcase h1 {
  font-size: 4.5rem;
  margin-bottom: 1.5rem;
  text-shadow: 1px 2px 1px black;
}

#showcase p {
  font-size: 1.3rem;
}

/* Pizza Page */

















/* About Page */
#about-wrap{
  background-color: var(--primary-color);
  height: 100vh;
}
.about-content{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}