@media screen and (max-width: 768px) {
  /* Dessert page */
  body {
    /* background-color: lightblue; */
  }

  #desserts-wrap .desserts-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .desserts-content h1 {
    display: grid;
    grid-column: 1 / span 2;
  }
}
